.dropdown-menu {
    display: none; /* Inicialmente oculto */
    position: absolute;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    padding: 8px 0;
    z-index: 1;
  }
  
  .dropdown-menu.show {
    display: block; /* Mostrar cuando la clase show está presente */
  }
  